# --- Angular / Node ---
node_modules/
dist/
.tmp/
.cache/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
# Angular builder artifacts
.angular/
# Env files (jeśli używasz)
*.local.env
*.env

# VSCode
.vscode/

# System
.DS_Store
Thumbs.db